<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.demo">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- windowManager用到的权限以及服务等 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 保存资源到SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:overrideLibrary="com.airbnb.lottie"
        tools:replace="android:allowBackup,icon,label,theme">
        <service android:name=".WindowMgrDemo.WindowService" />
        <service
            android:name=".service.InitializeService"
            android:exported="false" />

        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PickViewActivity" />
        <activity android:name=".activity.PopuActivity" />
        <activity android:name=".activity.TagViewActivity" />
        <activity
            android:name=".simpletooltip.EmojiRainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".boomMenu.MainBoomMenuActivity" />
        <activity android:name=".boomMenu.ListViewActivity" />
        <activity android:name=".boomMenu.SimpleCircleButtonActivity" />
        <activity android:name=".boomMenu.ButtonPlaceAlignmentActivity" />
        <activity android:name=".boomMenu.TextInsideCircleButtonActivity" />
        <activity android:name=".boomMenu.TextOutsideCircleButtonActivity" />
        <activity android:name=".boomMenu.BoomExampleActivity" />
        <activity android:name=".boomMenu.OrderExampleActivity" />
        <activity android:name=".boomMenu.HamButtonActivity" />
        <activity android:name=".boomMenu.ActionBarActivity" />
        <activity android:name=".boomMenu.EaseActivity" />
        <activity android:name=".boomMenu.ListenerActivity" />
        <activity android:name=".boomMenu.ControlActivity" />
        <activity android:name=".boomMenu.ShareActivity" />
        <activity android:name=".boomMenu.FragmentActivity" />
        <activity android:name=".boomMenu.RecyclerViewActivity" />
        <activity android:name=".swipeCaptchaDemo.swipeCaptchaActivity" />
        <activity
            android:name=".realmDemo.AddDataActivity"
            android:label="@string/title_activity_add_data" />
        <activity android:name=".WindowMgrDemo.WindowMgrActivity" />
        <activity android:name=".lottieDemo.LottieDemoActivity" />
        <activity android:name=".BiliDemo.BiliActivity" />
        <activity
            android:name=".indexListview.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".emptyLoadRetryDemo.test.MainActivity" />
        <activity android:name=".emptyLoadRetryDemo.test.FragmentTestActivity" />
        <activity android:name=".emptyLoadRetryDemo.test.AnyViewTestActivity" />
        <activity android:name=".emptyLoadRetryDemo.test.CategoryActivity" />
        <activity android:name=".recycleView.HomeActivity" />
        <activity android:name=".VRPlayerDemo.activity.VRListActivity" />
        <activity
            android:name=".VRPlayerDemo.activity.VRPlayerActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".activity.BatteryListenActivity"></activity>
    </application>

</manifest>